<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatRecord">
    <resultMap type="ChatRecord" id="ChatRecordResultMap">
        <result property="id" column="id"/>
        <result property="sessionId" column="session_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="type" column="type"/>
        <result property="pushType" column="push_type"/>
    </resultMap>

    <insert id="insert" parameterType="ChatRecord">
        insert into chat_record
        (session_id,user_id,content,create_time,type,push_type)
        VALUES
        (#{sessionId},#{userId},#{content},#{createTime},#{type},#{pushType})
        <selectKey resultType="int" keyProperty="id">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>


    <update id="updatePushType" parameterType="map">
		update chat_record set push_type=#{pushType} where id=#{id}
	</update>

    <select id="queryChartRecordList" parameterType="Map" resultMap="ChatRecordResultMap">
        <![CDATA[
            select id,session_id,user_id,content,create_time,type,push_type
            from chat_record
            where session_id=#{sessionId} and id<#{position} order by id DESC limit #{size}
		]]>
	</select>

    <select id="select" parameterType="int" resultMap="ChatRecordResultMap">
        select id,session_id,user_id,content,create_time,type,push_type from chat_record where id=#{id}
    </select>
</mapper>